In [48]:
import math as mt

### 1. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [1]:
import pandas as pd

In [7]:
import numpy as np

In [17]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily','Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

In [19]:
exam_data

{'name': ['Anastasia',
  'Dima',
  'Katherine',
  'James',
  'Emily',
  'Michael',
  'Matthew',
  'Laura',
  'Kevin',
  'Jonas'],
 'score': [12.5, 9, 16.5, nan, 9, 20, 14.5, nan, 8, 19],
 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

In [25]:
dataF = pd.DataFrame(exam_data, index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

In [26]:
dataF

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

### 2. Write a Pandas program to get the first 3 rows of a given DataFrame.

In [29]:
dataF.head(3)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

### 3.Write a Pandas program to count the number of rows and columns of a DataFrame.

In [41]:
total_rows=len(dataF.axes[0])
total_cols=len(dataF.axes[1])

In [42]:
total_rows

10

In [43]:
total_cols

4

### 4. Write a Pandas program to select the rows where the score is missing, i.e. is NaN

In [44]:
print(dataF[dataF['score'].isnull()])

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

### 5. To calculate the mean, median, and mode for a list of student exam scores: scores = [85, 92, 78, 90, 89, 88, 94, 79, 82, 86, 92, 88, 90]

In [45]:
scores = [85, 92, 78, 90, 89, 88, 94, 79, 82, 86, 92, 88, 90]

In [62]:
series = pd.Series(scores)

#### Mean

In [67]:
print("Mean is :",str(series.mean()))

Mean is : 87.15384615384616

#### Median

In [68]:
print("Mean is :",str(series.median()))

Mean is : 88.0

In [71]:
print("Mode is :\n",str(series.mode()))

Mode is :
 0    88
1    90
2    92
dtype: int64